*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

input{
    border: 0;
}

img{
    vertical-align: middle;
}

button{
    border: 0;
    margin: 0;
    padding: 0;
}

._left{
    float: left;
}

._right{
    float: right;
}
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
/*正常的未被访问过的链接*/
a:link {
    text-decoration: none;
}
/*已经访问过的链接*/
a:visited {
    text-decoration: none;
}
/*鼠标划过(停留)的链接*/
a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
/* 正在点击的链接，鼠标在元素上按下还没有松开*/
a:active {
    text-decoration: none;
}
/* 获得焦点的时候 鼠标松开时显示的颜色*/
a:focus {
    text-decoration: none;
}


p,text,span{
    font-family: "微软雅黑";
    color: #444;
}
ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.clearfloat:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
.clearfloat{
    zoom:1;
}
